@font-face {
    font-family: content-head;
    src: url(../fonts/PlayfairDisplay-BoldItalic.otf) format("opentype");
}

.blockcont {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.2em 0em 1.2em 0em;
}
.title_cont {
  font-family: Lato;
  text-align: center;
  background: #1b1d2a;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 1em;

}
.title {
  font-size: 3.1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding: 0.1em 0.25em 0.1em 0.25em;
  line-height: 1.1;

}
.subtitle {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  padding: 0;
  padding-bottom:0.25em;
  margin: 0;
  margin-top: -6px;

}
.title span{
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  font-size: 0.6em;
  padding:0;
}

.message {
  font-family: Lato;
  font-size: 1.5em;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: -0.5em;
}
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	background-image: url('../img/toronto_bg_blur-min.jpg');
}
.profile-img {
  position: relative;
  display: block;
  width: 20%;
  top: 25%;
  overflow: hidden;
  margin: 0 auto;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 70%;
	left: 50%;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.scroll-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	top: 96%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.fill-space {
  height:900px;
}

.line {
  display:block;
  border:none;
  color:white;
  height:3px;
  width: 100%;
  background:#f2b632;
}

.line2 {
  display:block;
  border:none;
  color:white;
  height:2px;
  width: 100%;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 900, from(#000), to(#fff));
}

.dev-updates {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#content-head {
	font-family: 'content-head';
	text-align: center;

}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
.profile-img {
  width: 60%;
  top: 30%;
  overflow: hidden;
  margin: 0 auto;
}
}
@media only screen and (max-width : 768px) {
	.container .main-title{
		font-size: 3em;
	}
}
